html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}


a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #4a4a4a;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/*END OF RESET*/

html {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url("https://www.redbullsalzburg.at/static/assets/images/background/wording.png");
    background-repeat: repeat;
}

body {
    height: auto;
    width: auto;
}


.menu {
    display: flex;
    background-color: #db0a40;
    width: 100%;
    height: 115px;
    z-index: 1;
    top: 0px;
    position: fixed;
    align-items: center;
    border-bottom: 4px solid white;
}

.menu__logo {
    height: auto;
    width: 7.5vw;
    position: relative;
    top: 35px;
    margin-right: 1.2rem;
}


.menu__nav {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 33.031px;
}

.menu__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
}


.menu__button {
    color: white;
    font-size: 1.2rem;
    white-space: nowrap;
    text-transform: uppercase;
    box-shadow: inset 0 0 0 0 white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color 0.4s ease-in-out, box-shadow 0.5s ease-in-out;
}


@media not all and (hover: none) {
    .menu__button:hover {
        box-shadow: inset 120px 0 0 0 white;
        color: #db0a40;
    }
}

.menu__ul--pravo {
    margin-left: auto;
}


/* HAMBURGER MENU */

#menu__ham {
    display: none;
    margin-right: 50px;
}


#menu__ham__toggle {
    position: relative;
    user-select: none;
}

#menu__ham input {
    display: none;
}


#menu__ham__toggle input:checked ~ ul {
    right: -50px;
}


#menu__ham__lines {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    z-index: 5;
}

#menu__ham__lines div {
    width: 100%;
    height: 2px;
    background-color: white;
    z-index: 5;
}


@media not all and (hover: none) {
    #menu__ham__lines:hover {
        cursor: pointer;
    }
}


#menu__ham__ul {
    background-color: #db0a40;
    width: 150px;
    height: 220px;
    position: absolute;
    padding: 80px 33.031px 40px;
    right: -400px;
    top: -20px;
    transition: right 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 2px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    justify-content: space-between;
}

#menu__ham__button {
    color: white;
    font-size: 0.9rem;
    white-space: nowrap;
    text-transform: uppercase;
}


/* HAMBURGER MENU */


.main {
    width: 79%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15rem;
}


.main__news {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 2.6vw;
    column-gap: 3vw;
}



.main__feature {
    position: relative;
    width: 100%;
    height: auto;
}


.main__feature--first {
    grid-row: span 2;
    grid-column: 1;
}

.main__feature--second {
    grid-column: 2;
    grid-row: 1;
}

.main__feature--third {
    grid-column: 2;
    grid-row: 2;
}


.main__img {
    height: auto;
    box-sizing: border-box;
    border: 5px solid #db0a40;
    transition: all 500ms ease-in-out;
}

.main__img--big {
    max-width: 100%;
}


@media not all and (hover: none) {
    .main__img--big:hover {
        transform: scale(1.02);
    }
}


.main__img--small {
    max-width: 100%;
}


@media not all and (hover: none) {
    .main__img--small:hover {
        transform: scale(1.02);
    }
}



.main__headline {
    color: white;
    text-transform: uppercase;
    background-color: #db0a40;
    position: absolute;
    bottom: 15%;
    left: 16px;
    line-height: 1.4;
}

.main__headline--big {
    font-size: 1.3vw;
    padding: 1.3vw;
}


.main__headline--small {
    font-size: 1vw;
    padding: 0.7vw;
}


.team {
    max-width: 79%;
    margin-left: auto;
    margin-right: auto;
}

.team__container {
    margin-top: 100px;
    display: flex;
    background-color: #db0a40;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.team__image {
    object-fit: cover;
    max-width: 50%;
    max-height: 50%;
}

.team__text {
    margin: 4vw 4vw 0;
    text-align: left;
}

.team__text--left {
    text-align: center;
}

.team__subline {
    font-size: 1rem;
    color: white;
}

.team__headline {
    font-size: 2rem;
    margin-top: 15px;
    color: white;
}

.team__description {
    color: white;
    margin-top: 70px;
    font-weight: 550;
    line-height: 1.3;
}

.team__button {
    margin-top: 70px;
    color: white;
    border: 2.5px solid white;
    background-color: transparent;
    text-align: center;
    height: 38px;
    width: auto;
    font-weight: 800;
    white-space: nowrap;
    border-radius: 4px;
    margin-bottom: 30px;
}


@media not all and (hover: none) {
    .team__button:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color: white;
        color: #db0a40;
        transition: all 80ms ease-in-out;
    }
}


.shop {
    margin-top: 100px;
    max-width: 79%;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap; 
    display: flex;  
}

.shop__headline {
    background: #db0a40;
    width: 100%;
    text-align: center;
    padding: 26.094px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
    margin-left: auto;
    margin-right: auto;
}


.shop__offer {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 3vw;
}




.shop__card {
    max-height: 250px;
    max-width: 250px;
    display: flex;
    border: 5px solid #db0a40;
    position: relative;
    background-color: #db0a40;
}

.shop__img {
    height: 100%;
    width: 100%;
    display: block;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.shop__description {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}



@media not all and (hover: none) {
    .shop__card:hover .shop__img {
        opacity: 0.1;
    }
}


@media not all and (hover: none) {
    .shop__card:hover .shop__description {
        opacity: 1;
        background-color: #db0a40;
    }
}


.shop__text {
    background-color: white;
    color: #db0a40;
    padding: 3.750px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
}


.footer {
    margin-top: 150px;
    background-color: #db0a40;
    width: 100%;
    height: 115px;
    border-top: 4px solid white;
}


.footer__nav {
    display: flex;
    height: 115px;
    align-items: center;
    justify-content: center;
}

.footer__ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}


.footer__icon {
    height: auto;
    width: 3rem;
    display: inline-block;
}


/* MEDIA QUERIES */


@media only screen and (max-width: 1505px) {
    .shop__offer {
        max-width: 800px;
    }
}


@media only screen and (max-width: 890px) {

    .menu__logo {
        position: relative;
        top: 0;
        margin-right: 30px;
    }

    .menu__button {
        color: white;
        font-size: 0.8rem;
        white-space: nowrap;
        text-transform: uppercase;
    }

    .main {
        margin-top: 10rem;
    }


    .main__news {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
      
    
    .main__feature {
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .main__img {
        border: none;
    }

    .main__img--big {
        max-width: 100%;
    }

    
    .main__img--small {
        max-width: 100%;
    }



    .main__headline--big {
        font-size: 2.4vw;
    }
    
    
    .main__headline--small {
        font-size: 2.4vw;
    }

    .team {
        margin-top: 75px;
    }

    .team__container {
        margin-top: 70px;
    }

    .team__subline {
        font-size: 1.6vw;
    }
    
    .team__headline {
        font-size: 2.7vw;
    }
    
    .team__description {
        font-size: 1.8vw;
    }

    .team__button {
        margin-top: 30px;
        height: 30px;
        font-size: 1.6vw;
    }

    .shop__headline {
        font-size: 2.4vw;
    }

    .shop__card {
        max-height: 200px;
        max-width: 200px;
    }

    .footer {
        margin-top: 75px;
    }

    .footer__icon {
        width: 2rem;
    }
}



@media only screen and (max-width: 532px) {


    .menu__logo {
        width: 80px;
        height: auto;
    }

    
    .menu__ul, .menu__ul--pravo {
        display: none;
    }

    #menu__ham {
        display: unset;
    }
}




@media only screen and (max-width: 471px) {


    .menu__button {
        font-size: 0.65rem;
    }

    .shop {
        margin-top: 20px;
    }

    .shop__offer {
        margin-top: 30px;
    }

}